---
title: Page not found
layout: layout
directory_index: false
---

<main class="main_typesome" role="main">

  <h1>Page not found (404)</h1>
  <blockquote>
    <p>There is no such thing as a failed experiment, only experiments with unexpected outcomes.</p>
    <cite>Richard Buckminster Fuller</cite>
  </blockquote>

  <div class="back_typesome">
    <p class="go-back"><a class="fa fa-long-arrow-left" href="/"><span>Back to homepage</span></a></p>
  </div>
</main>

<%= partial "footer" %>
