<footer class="footer_typesome">
	<div class="main_typesome">
	<ul>
		<li><span class="tooltip">Subscribe!</span><a class="fa fa-rss" target="_blank" href="/feed.xml"></a></li>
		<li><span class="tooltip">Twitter</span><a class="fa fa-twitter" href="https://twitter.com/kennethkalmer"></a></li>
		<li><span class="tooltip">Github</span><a class="fa fa-github" href="https://github.com/kennethkalmer"></a></li>
		<li><span class="tooltip">About.me</span><a class="fa fa-road" href="https://about.me/kennethkalmer"></a></li>
		<li><span class="tooltip">The ZADevChat Podcast</span><a class="fa fa-podcast" href="https://zadevchat.io"></a></li>
	</ul>
		<hr />
    <p>All content copyright <a href="/">Open Sourcery</a> &copy; <%= Time.now.strftime("%Y") %> &bull; All rights reserved.</p>
		<p>Theme created by <a href="http://golem.io">golem.io</a> &bull; Proudly published with <a class="icon-ghost" href="http://middlemanapp.com" target="_blank">Middleman</a></p>
	</div>
</footer>

