<header class="site-head" style="background-image: url(<%= image_path('cover.jpg') %>)">
	<div class="vertical">
		<div role='banner' class="header_typesome">
      <a class="logo_typesome" href="/"><img src="<%= image_path('kenneth.jpg') %>" alt="Open Sourcery" /></a>
			<h1 class="blogtitle_typesome">
			<a title="Open Sourcery" href='/'>
			Open Sourcery
			</a>
			</h1>
			<p class="blogdescription_typesome">
			Performing regular wizardry through open-source software.
			</p>
		</div>
	</div>
</header>


