/**
 Main opensourcery stylesheet. Brings in the Typesome theme and customizes
 where required.
*/

@import "theme";

.back_typesome + .pagination_typesome {
  @extend .postfooter_typesome;
}

.logo_typesome img {
  width: 110px;
  height: 110px;
  border-radius: 110px;
}
